{{ define "main" }}
  <article class="mb-5">
    <header class="mb-5">
      <h1 class="text-3xl font-bold mb-3">{{ .Title }}</h1>
      <div>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
          Published:
          <span class="italic">
            {{ .PublishDate.Format "Jan. 02, 2006" }}
          </span>
        </time>
      </div>
      {{ if gt (sub .Lastmod.Unix .PublishDate.Unix) 18000 }}
      <div>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
          Updated:
          <span class="italic">{{ .Lastmod.Format "Jan. 02, 2006" }}</span>
        </time>
      </div>
      {{ end }}
    </header>
    <div class="mb-5">
      {{ .Content }}
    </div>
    <div class="mb-5">
      {{ with .Params.tags }}
      <div>
        {{ range . }}
        <span>
          <a
            class="underline"
            href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
          >
            #{{ . }}
          </a>
        </span>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </article>
{{ end }}
