{{ define "main" }}
  <article class="prose md:prose-lg lg:prose-xl">
    <header>
      <h1>{{ .Title }}</h1>
      <div
        class="w-full text-sm lg:text-base text-gray-500 flex justify-between"
      >
        {{ with .Params.tags }}
          <div>
            {{ range . }}
              <span>
                <a
                  class="underline"
                  href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
                >
                  #{{ . }}
                </a>
              </span>
            {{ end }}
          </div>
        {{ end }}
        <div>
          <div class="text-right">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
              Published:
              <span>
                {{ .PublishDate.Format "Jan. 02, 2006" }}
              </span>
            </time>
          </div>
          {{ if gt (sub .Lastmod.Unix .PublishDate.Unix) 18000 }}
          <div class="text-right">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
              Updated:
              <span>{{ .Lastmod.Format "Jan. 02, 2006" }}</span>
            </time>
          </div>
          {{ end }}
        </div>
      </div>
    </header>
    {{ .Content }}
  </article>
{{ end }}
