{{ define "main" }}
	<main>
		<article class="post">
			<header class="post-header">
				<h1 class="post-title">{{ .Title }}</h1>
				<div class="post-meta">
					<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
						{{ .Date.Format "Jan 02, 2006" }}
					</time>
				</div>
			</header>
			<div class="post-content">
				{{ .Content }}
			</div>
			<div class="post-footer">
				<div class="post-meta">
					Last Modified: 
					<span>
						<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">
							{{ .Lastmod.Format "Jan 02, 2006" }}
						</time>
					</span>
				</div>
				{{ with .Params.tags }}
				<div class="post-tags">
						{{ range . }}
						<span><a class="post-tag-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
						{{ end }}
				</div>
				{{ end }}
			</div>
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
