<figure
  class="not-prose mx-auto text-center flex flex-col items-center
         sm:flex-row sm:items-start"
>
  <div class="w-3/5 mx-auto">
    <a href="{{ .Get "link" }}">
      <img class="mx-auto w-full max-w-[250px]" src="{{ .Get "src" }}">
    </a>
  </div>
  <figcaption
    class="w-full max-w-[250px]  text-center pt-2 pl-5 text-sm
           sm:max-w-full sm:text-left sm:text-base
           md:text-lg lg:text-xl"
  >
    <h4 class="font-semibold">{{ .Get "title"}}</h4>
    {{ if .Get "mentionedIn" }}
    <p class="text-gray-400 text-xs sm:text-sm md:text-base lg:text-lg">
    mentioned in:
    <span
      class="italic text-gray-500 font-semibold"
    >
      {{ .Get "mentionedIn" }}
    </span>
    </p>
    {{ end }}
    <p
      class="text-gray-400 text-xs sm:text-sm md:text-base lg:text-lg"
    >{{ .Get "attr" }}</p>
  </div>
</figure>
