<figure
  class="not-prose mx-auto text-center flex flex-col items-center
         sm:flex-row sm:items-start"
>
  <div class="w-3/5 mx-auto">
    <a href="{{ .Get "link" }}">
      <img class="mx-auto w-full max-w-[250px]" src="{{ .Get "src" }}">
    </a>
  </div>
  <figcaption
    class="w-full max-w-[250px] text-center
           sm:max-w-full sm:text-left sm:pt-2 sm:pl-5"
  >
    <h4 class="font-semibold">{{ .Get "title"}}</h4>
    <div class="text-gray-400 text-xs sm:text-sm md:text-base lg:text-lg">
      {{ if .Get "mentionedIn" }}
      <p>
        mentioned in:
        <span class="italic text-gray-500 font-semibold">
          {{ .Get "mentionedIn" }}
        </span>
      </p>
      {{ end }}
      <p>{{ .Get "attr" }}</p>
    </div>
  </div>
</figure>
